# Подключение к БД
DATABASE_URL=postgresql://[user]:[password]@localhost:5432/blog_db

# JWT-секрет
# Для генерации: openssl rand -base64 32
# (32 байта минимум,)
JWT_SECRET=[PASTE_YOUR_SECRET]

# Сервер
HOST=127.0.0.1
PORT=3000

# CORS
CORS_ORIGIN=http://localhost:3000
